/** @define Projects; use strict */

.Projects {
  overflow: hidden;
  padding: 0;
  text-align: center;
}

.Projects-heading {
  padding-right: 1rem;
  padding-left: 1rem;
}

.Projects ul {
  overflow: hidden;
  padding: 0;
  list-style: none;
}

.Projects li {
  position: relative;
  float: left;
}

.Projects svg {
  max-height: 300px;
  fill: rgba(0, 0, 0, 0.05);
}

.Projects-content {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
}

.Projects-nav span {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: black;
  color: white;
  font-size: 2rem;
  line-height: 2rem;
  cursor: pointer;
  text-align: center;
  transition: all .2s ease-in-out;
}

.Projects-nav-next {
  opacity: 0.3;
  right: 50%;
  transform: translateX(120%);
}

.Projects-nav-prev {
  opacity: 0.3;
  left: 50%;
  transform: translateX(-120%);
}

.Projects-nav-disabled {
  opacity: 0.1;
}
