[am-read-more]:after {
  content: 'Read More \279C';
  color: rgba(black, 0.7);
  font-size: 0.8em;
  position: relative;
}

[am-read-more~="hiding"]:hover:after {
  cursor: pointer;
  animation-name: moveRight;
  animation-duration: .25s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: backwards;
  animation-timing-function: ease;
}

@keyframes remove{
  0% {
    opacity: 1;
  }
  99% {
    top: auto;
  }
  100% {
    opacity: 0;
    top: -1000px;
  }
}


[am-read-more~="showing"]:after {
  animation-name: remove;
  animation-duration: .4s;
  animation-fill-mode: forwards;
  cursor: auto;
  position: absolute;
}

[am-read-more~="showing"] [am-read-more-content] {
  max-height: 300px;
}

[am-read-more-content] {
  max-height: 0;
  transition: max-height 1s ease;
  overflow: hidden;
  position: relative;
}

[am-read-more-content] p:first-child {
  margin-top: 0;
}

[am-read-more-content] p:last-child {
  margin-bottom: 0;
}

