/** @define ReadMore; use strict */

.ReadMore :after {
  content: 'Read More \279C';
  color: rgba(black, 0.7);
  font-size: 0.8em;
  position: relative;
}

.ReadMore :hover:after {
  cursor: pointer;
  animation-name: moveRight;
  animation-duration: .25s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: backwards;
  animation-timing-function: ease;
}

.ReadMore.is-showing :after {
  animation-name: remove;
  animation-duration: .4s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  cursor: auto;
  position: absolute;
}

.ReadMore.is-showing .ReadMore-content {
  max-height: 300px;
}

.ReadMore-content {
  max-height: 0;
  transition: max-height 1s ease;
  overflow: hidden;
  position: relative;
}

.ReadMore-content p:first-child {
  margin-top: 0;
}

.ReadMore-content p:last-child {
  margin-bottom: 0;
}
