/** @define ReadMore; use strict */

.ReadMore:after {
  position: relative;
  color: rgba(black, 0.7);
  content: 'Read More \279C';
  font-size: 0.8em;
}

.ReadMore:hover:after {
  cursor: pointer;
  animation-name: moveRight;
  animation-duration: .25s;
  animation-timing-function: ease-in-out-circ;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: backwards;
}

.ReadMore.is-showing:after {
  position: absolute;
  cursor: auto;
  animation-name: remove;
  animation-duration: .4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.ReadMore.is-showing .ReadMore-content {
  max-height: 300px;
}

.ReadMore-content {
  position: relative;
  overflow: hidden;
  max-height: 0;
  transition: max-height 1s ease;
}

.ReadMore-content p:first-child {
  margin-top: 0;
}

.ReadMore-content p:last-child {
  margin-bottom: 0;
}
