/** @define SideNavigation; use strict */

/*
 * TODO: Refactor Module
 * - Move label / icon into separate file
 */

:root {
  --side-nav-padding: 1rem;
}

.SideNavigation-content {
  position: relative;
  top: 0;
  right: 0;
  bottom: 100%;
  z-index: 1;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: #fff;
  transition: transform .5s ease;
}

.SideNavigation-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 100%;
  z-index: 0;
  padding: var(--side-nav-padding);
  width: 100%;
  height: 100%;
  background: #fff;
  list-style: none;
  transition: transform .5s ease;
}

.SideNavigation-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.SideNavigation-trigger:checked ~ .SideNavigation-content {
  transform: translateX(-100%);
}

.SideNavigation-trigger:checked ~ .SideNavigation-menu {
  transform: translateX(-100%);
}


.SideNavigation-label {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 2;
  width: 30px;
  height: 30px;
  background-size: contain;
  transition: all .5s ease;
}

@media (--large-window) {

  .SideNavigation-trigger:checked ~ label {
    right: calc(20% + 15px);
    transform: none;
  }

  .SideNavigation-trigger:checked ~ .SideNavigation-content {
    transform: translateX(-20%);
  }

  .SideNavigation-menu {
    width: 20%;
  }

}
