extends layouts/layout.jade

block content
    h1.Intro.u-center Hi! I am Dave, 
        strong a somehow 
        span.Intro-fancy fancy 
        strong Front End Developer.

    section.About.u-center

      h2 About me
      p Yes, I am a Front End Developer. Passionately. JavaScript, HTML and CSS never cease to excite me.
      p
        | So far I've been lucky enough to work with great people at 
        include partials/companies

      .ReadMore
        .ReadMore-content
          p I enjoy good tools and frameworks. Especially git, vim, zsh, rework, angular, flux / reactjs, mocha, gulp and vagrant.
          p
            | When I am not in front of a screen I like to spend time with my family, read books about really much everything or
            | climb up rocks or indoor-climbing walls. As a born Austrian I eat Schnitzel to keep me going.


    section.Projects
      h2 Some of the projects I worked on
      ul
        each project in projects
            li
              .Projects-content
                h3= project.name
                  p
                    strong= project.company
                    p
                      span= project.description
