extends layouts/layout.jade

block content

  include partials/side_navigation

  .content

    h1(am-intro) Hi! I am Dave,
      strong  a Front End Developer.

    section(am-about)
      h2 About me
      p Yes, I am a Front End Developer. Passionately. JavaScript, HTML and CSS never cease to excite me.
      p
        | So far I've been lucky enough to work with great people at 
        include partials/companies

      .ReadMore
        .ReadMore-content
          p I enjoy good tools and frameworks. Especially git, vim, zsh, rework, angular, flux / reactjs, mocha, gulp and vagrant.
          p
            | When I am not in front of a screen I like to spend time with my family, read books about really much everything or
            | climb up rocks or indoor-climbing walls. As a born Austrian I eat Schnitzel to keep me going.

      // div(am-read-more="hiding")
      //   div(am-read-more-content)
      //     p I enjoy good tools and frameworks. Especially git, vim, zsh, rework, angular, flux / reactjs, mocha, gulp and vagrant.
      //     p
      //       | When I am not in front of a screen I like to spend time with my family, read books about really much everything or
      //       | climb up rocks or indoor-climbing walls. As a born Austrian I eat Schnitzel to keep me going.


    section(am-work)
      h2 Some of my work
      ul
        each project in projects
          li= project.name
