input#SideNavigation-trigger.SideNavigation-trigger(type='checkbox' name='side-navigation-trigger')

label.SideNavigation-label(for='SideNavigation-trigger')

section.SideNavigation-menu
  h1 Here is some content
