input#SideNavigation-trigger.SideNavigation-trigger(type='checkbox' name='side-navigation-trigger')

label.SideNavigation-label.SideNavigationIcon(for='SideNavigation-trigger')
    span

section.SideNavigation-menu
  h1 Here is some content
