@keyframes highlight{
  from {
    background: white;
  }
  to {
    background: rgba(yellow, 0.3);
  }
}

@keyframes moveRight {
  from {
    left: 0;
  }
  to {
    left: .3em;
  }
}

@keyframes rotateSlightly {
  0% {
    transform: rotate(0);
    opacity: 0;
  }
  25% {
    transform: rotate(25deg);
    opacity: 1;
  }
  50% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(0);
    opacity: 0;
  }
}

