@keyframes highlight{
  from {
    background: white;
  }
  to {
    background: rgba(yellow, 0.3);
  }
}

@keyframes moveRight {
  from {
    left: 0;
  }
  to {
    left: .5em;
  }
}

@keyframes rotateSlightly {
  0% {
    opacity: 0;
    transform: rotate(0);
  }
  25% {
    opacity: 1;
    transform: rotate(25deg) translateY(-2px);
  }
  50% {
    transform: rotate(-25deg) translateY(-4px);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(-10deg) translateY(0);
  }
}

@keyframes remove{
  0% {
    opacity: 1;
  }
  99% {
    top: auto;
  }
  100% {
    top: -1000px;
    opacity: 0;
  }
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
