doctype html
html(lang="en")
    head
        meta(charset="utf-8")
    title= welcome
    link(rel="stylesheet" href="styles/main.css")
    meta(name="viewport" content="width=device-width, initial-scale=1, minimal-ui")

    script(src="./scripts/inline/loadFonts.js" inline)

  body

    include ../partials/side_navigation

    .SideNavigation-content

        block content

        script(src="scripts/app.js" sync)
