extends ./layouts/layout.jade

block content

  h1 Hi! I am Dave,
    strong  a Front End Developer.

  section.about

    h2 About me

    p Yes, I am a Front End Developer. Passionately. JavaScript, HTML and CSS never cease to excite me.

    p
      | So far I've been lucky enough to work with great people at styleflasher.at, madebyprimal.co, worldnomads.com
      | and news.com.au.

    .more.more--hidden.hidden

      p I enjoy good tools and frameworks. Especially git, vim, zsh, rework, angular, flux / reactjs, mocha, gulp and vagrant.

      p
        | When I am not in front of a screen I like to spend time with my family, read books about really much everything or
        | climb up rocks or indoor-climbing walls. As a born Austrian I eat Schnitzel to keep me going.


  section.work

    h2 Some of my work

    ul
      each project in projects
        li= project.name
